/*
*			LOGIN
*/
body { }
.login_form { width: 230px;  margin: 100px auto 0;}
.login_form label { margin-top: 15px;}
.login_form h3 { width: 70px; margin: 0 auto; }
.login_form input[type="submit"] { width: 64px; margin: 10px auto 0 80px;}

/*
*			BODY
*/

body { font-family: 'Merriweather Sans', sans-serif;}
.navbar a, .navbar a:hover, .navbar a:visited { color: black; text-decoration: none;}
.navbar h1 { width: 200px; display: inline;}
.logout {float: right; margin: 5px; color: white !important;}
/*
*			ASIDE
*/
/*aside { text-transform: uppercase;}*/
aside a, aside a:visited, aside a:hover {color:white; text-decoration: none;}

/*
*			WRAPPER
*/

.wrapper { margin: 5px; padding: 5px; }
.container-fluid { padding: 0; }

/*
*			HEADINGS
*/
h1 {margin-left: 10px; color: black; text-shadow: 1px 1px #cccccc;}
/*h1 { margin-left: 10px;	text-shadow: 1px 1px #8c939c; }*/

/*
*			TABLES
*/

.table td {	text-align: center; }
thead { text-transform: uppercase; font-size: 12px;	font-weight: 0; }

.right { text-align: right !important; }

.paymentdate { display: none; }
.paymentdateshow { display: block; }

/*
*			BUTTONS
*/
.btn-group { width: 90%; }
aside .btn { width: 100%; text-align: left; }

.buttons { width: 100%; }
.create { position: absolute; float: right; }
/*
			ICONS
*/

[class^="icon-"], [class*=" icon-"] { margin-top: 2px; margin-right: 5px; }

/*
			FORMS
*/

.topmargin {
	margin-top: 10px;
}
.big {
	width: 86% !important;
}
.currency { margin-left: 10px}